/**
 * Theme: default
 */
:root {
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;
    --border-radius: 0.25rem;
    --border-width: 1px;
    --outline-width: 3px;
    --spacing: 1rem;
    --typography-spacing-vertical: 1.5rem;
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);
    --grid-spacing-vertical: 0;
    --grid-spacing-horizontal: var(--spacing);
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --font-weight: 700;
}

h1 {
    --font-size: 2rem;
    --typography-spacing-vertical: 3rem;
}

h2 {
    --font-size: 1.75rem;
    --typography-spacing-vertical: 2.625rem;
}

h3 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 2.25rem;
}

h4 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1.874rem;
}

h5 {
    --font-size: 1.125rem;
    --typography-spacing-vertical: 1.6875rem;
}
