// Our colours
$dark-grey: #4a4a4a;
$off-white: #fcfdfc;
$ink-black: #171a21;
$dark-pink: #af324a;
$midnight-blue: #000c2a;
$sand: #ecva82;
$sienna: #300e15;

// Override bulma
$primary: $dark-pink;
$white: $off-white;
