@import "~@picocss/pico/scss/pico";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "../components/slide-menu";
@import "../components/utilities";


/* Grid */
body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 10rem);
  padding: 1rem 0;
}

@media screen and (min-width: map-get($breakpoints, 'sm')) {
  .dashboard-grid {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: min-content auto;
    grid-template-areas: 'navbar navbar' 'menu content';

    nav {
      grid-area: navbar;
    }

    aside {
      grid-area: menu;
      padding: 2em;
    }

    main {
      grid-area: content;
      padding-right: 2em;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: start;

      article {
        margin-top: 0;
      }
    }
  }
}

article {
  padding: 1rem;
  overflow: hidden;
}

.warning {
  color: $red-900;
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }
  article {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }
  article {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }
  article {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }
  article {
    padding: 2rem;
  }
}

/* Footer */
body > footer {
  padding: 1rem 0;
  text-align: center;
}

fieldset + * {
  margin-top: 2em;
}

label + button {
  margin-top: 2em;
}

.is-clickable {
  cursor: pointer;
}

.btn-slim {
  margin: 0;
  padding: 0.5em;
}

.without-padding {
  padding: 0;
}


fieldset + * {
  margin-top: 2em;
}

label + button {
  margin-top: 2em;
}

.is-clickable {
  cursor: pointer;
}

.btn-slim {
  margin: 0;
  padding: 0.5em;
}

.without-padding {
  padding: 0;
}
