@import "~@picocss/pico/scss/variables";

// Visibility modifiers
.is-hidden {
  display: none !important;
}

// Hidden only on mobile screens
.is-hidden-mobile {
  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    display: none;
  }
}

// Hidden on everything larger than a mobile screen
.is-hidden-tablet {
  @media screen and (min-width: map-get($breakpoints, 'sm')) {
    display: none;
  }
}
