@import "../components/variables.css";
@import "~@picocss/pico/scss/pico.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.navbar-burger {
  border-radius: 50%;
  margin: 10px 10px 0 auto;
  background-color: var(--primary);
}

.navbar-burger span {
  height: 2px;
  color: var(--off-white);
}

.warning {
  color: red;
}
