// Full page mobile menu that slides in when active
.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: var(--background-color);
  padding: var(--menu-padding, 2em);

  &[data-active] {
    transform: translateX(0);
  }

  .exit-button {
    text-align: right;
    padding-bottom: 2em;
  }
}

